numpy==1.24.3

einops
trimesh
cython
accelerate
webdataset
open3d



diffusers==0.19.0
huggingface_hub==0.25.2

ninja
lightning
opencv-python
omegaconf
jaxtyping
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
libigl
git+https://github.com/ashawkey/envlight.git
git+https://github.com/NVlabs/nvdiffrast.git
transformers
git+https://github.com/KAIR-BAIR/nerfacc.git@v0.5.2
wandb
typeguard
tensorboard
matplotlib
xatlas
networkx
pysdf
PyMCubes
gradio
plyfile
huggingface_hub
imageio
imageio[ffmpeg]

gpytoolbox
pymeshlab

mmcv
iopath
timm


kiui